# Jekyll build files
/_site
.jekyll-cache
.jekyll-metadata

# Bundler files
/.bundle

# Node.js files
/node_modules

# Vendor files
/vendor

# Asset files
/assets

# Cache files
.eslintcache
.sass-cache

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Vim swap files
*.swp
*.swo

# Obsidian configuration files
.obsidian
